
<html>

<head>
    <title>
        Mi pagina web
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>

    <h1>
        Una motocicleta ademas de permitir transportarte tambien es una medio para distraerse y disfrutar de viajes y aventuras <br>
    </h1>
    <img src="static/images/moto carretera.gif">
    <img src="static/images/moto pista.gif" ><br>
    <p>
        Historia de la motocicleta: Orígenes La historia de la motocicleta está estrechamente relacionada con la
        bicicleta, 
        ya que fue a partir de esta máquina más sencilla de donde se partió para construir lo que hoy conocemos como
        moto. 
        Al igual que la con la historia y los orígenes de la bicicleta, los orígenes y la historia de la motocicleta ha
        
        levantado muchas controversias en cuanto a quien fue el padre de la motocicleta, y es que muchos historiadores
        no 
        tienen muy claro quién fue el primero en poner las bases de la historia de la bicicleta.<br>
        <img class="img3" src="static/images/motorfiets-suzuki-png.png" ><br>
        <a href="https://motos.mercadolibre.com.ec/" target="_blank">Mercado Libre</a>
    <h2>Marcas conocidas:</h2>
    </p>
       <ul class="ul1">
        <li class="ol1">Ducati</li>
        <li class="ol1">Kawasaki</li>
        <li class="ol1"> Pulsar </li>
        <li class="ol1"> Suzuki </li>
        <li class="ol1"> Hayrley-Davidson</li>
    </ul>

    <table>
        <tr>
            <th>Modelo</th><br>
            <th>Bujias</th><br>
            <th>Bateria</th><br>
        </tr>
        <tr>
            
            <td> 1.- Ducati </td>
            <td> BP5HS </td>
            <td> 6N4-2A </td>
        </tr>
        <tr>
            <td>2.- Kawasaki </td>
            <td> C7HSA </td>
            <td> 12N7-4A </td>

        </tr>
        <tr>
            <td> 3.- Pulsar </td>
            <td> C7HCA </td>
            <td> YT4LBS </td>

        </tr>
        <tr>
            <td>4.- Suzuki </td>
            <td> D8EA </td>
            <td> FTZ5S </td>

        </tr>
        <tr>
            <td> 5.- Hayrley-Davidson </td>
            <td> BP7HS-1 </td>
            <td> YB4-LB </td>

        </tr>

    </table>
    <ol >
        <li>
          <img class="img2" src="static/images/ducati 250.jpg" >
            <img class="img2" src="static/images/ducati corse.jpg" >
            <img class="img2" src="images/Ducati Streetfighter.jpg" >
        </li>
        <br>
        <li>
             <img class="img2" src="static/images/kawasaki 2024.jpg" >
            <img class="img2" src="static/images/kawasakininja verde.jpg" >
            <img class="img2" src="static/images/Kawasaki-Ninja-H2R.jpg" >
        </li>
        <br>
        <li>
            <img class="img2" src="static/images/Pulsar-180.jpg" >
            <img class="img2" src="static/images/Pulsar-NS-200.jpg" >
            <img class="img2" src="static/images/PULSAR-X11-1.jpg" >
        </li>
        <br>
        <li>
             <link rel="stylesheet" type="text/css" href="css/style.css">
            <img class="img2" src="static/images/suzuki-gsx-r250.jpg ">
            <img class="img2" src="static/images/suzuki-gsx-s-1000-gx-2024.jpg" >
            <img class="img2" src="static/images/suzuki-gsx-s1000-gt-2022.jpg" >
        </li>
        <br>
        <li>
             <img class="img2" src="static/images/harley davidson 350.jpg" >
            <img class="img2" src="static/images/Harley-Davidson-Softail.jpg" >
            <img class="img2" src="static/images/harley-davidsonglide-cvo.jpg">
        </li>
       <br>
    </ol>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/HRMmygp990Y?si=twk56-kt2R1Nv0h_"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
          gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15959.060124062573!2d-78.57044904458006!3d-0.29612949999999494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5a37a8df01e9b%3A0xfa68cb2610643796!2sMoto%20Plaza!5e0!3m2!1ses!2sec!4v1706480008891!5m2!1ses!2sec" 
          width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           <br>
           <br>
      <form>
    <from>
        <h3>
            Registro:
        </h3>
            <label> Comentario: </label>
            <input type="text"><br><br>
            <label> Telefono: </label>
            <input type="number"><br><br>
            <label> E mail </label>
            <input type="email"><br><br>
            <input type="submit" value="Enviar"><br><br>
  </from>

</body>

</html>
